*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo img{
    width: 150px;
    filter: invert(1);
}

.nav-links {
    display: flex;
}


.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    transition: color 0.3s;
    letter-spacing: 1px;
}

.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s;
}

.nav-links a:hover::after {
    width: 100%;
    transition: width .3s;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .nav-links {
        width: 100%;
        margin-top: 10px;
    }

    .nav-links a {
        margin-left: 0;
        padding: 10px 20px; 
        width: 100%; 
        text-align: left; 
    }
}
